.FullMovie {
  margin: 16px;
}

.FullMovie div {
  display: flex;
  flex-wrap: wrap;
}

.FullMovie p {
  margin: 6px 8px;
  background-color: #263238;
  color: white;
  border-radius: 4px;
  padding: 4px 8px;
}

.FullMovie img {
  width: 100%;
}

.FullMovie button {
  display: block;
  margin: auto;
  background-color: #263238;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px;
  width: 100%;
  margin-bottom: 10px;
  font-family: inherit;
  transition: 0.3s ease-out;
  outline: none;
  border: 1px solid white;
  cursor: pointer;
}

@media (min-width: 600px) {
  .FullMovie button {
    width: 10%;
  }

  .FullMovie button:hover {
    background-color: white;
    color: #263238;
    border: 1px solid #263238;
    width: 75%;
  }
}
